<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhang.jetpacksample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".JetpackMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.michael.deeplinkdemo.DeepLinkActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.michael.lifecycledemo.LifeCycleActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.michael.lifecycleservicedemo.ServiceActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.michael.roomdemo.RoomMainActivity"
            android:screenOrientation="portrait" />
        <service android:name="com.michael.lifecycleservicedemo.MyService"></service>
        <activity
            android:name="com.michael.navigationbasicdemo.NavBasicMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.michael.navSafeargsdemo.SafeargsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.michael.navigationuimenudemo.NavigationuimenuMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.michael.navigationuidemo.bottomnavigationbar.BottomNavigationBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.michael.navigationuidemo.drawerlayout.DrawerLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.michael.navigationuidemo.NavigationuidemoMainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>